<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!isLoading">
  <mat-sidenav-container #container fxFlex >
    <mat-sidenav #drawer
                 class="mat-elevation-z2"
                 mode="{{isMobileView?'over':'side'}}"
                 opened="{{!isMobileView && isMenuOpen}}"
                 disableClose="{{!isMobileView}}"
                 *ngIf="displayNav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <mat-toolbar color="primary">
          <button type="button" mat-button *ngIf="displayNav">
            <mat-icon>menu</mat-icon>
          </button>
          <span style="flex: 1 1 auto;"></span>
          <div *ngIf="displayNav" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button mat-icon-button aria-label="Alternar auto constraste" (click)="toggleAutoContraste()">
              <mat-icon aria-hidden="true">invert_colors</mat-icon>
            </button>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a target="_blank" [href]="'/'" mat-menu-item>Perfil</a>
            </mat-menu>
          </div>
        </mat-toolbar>
        <mat-progress-bar
          [style.visibility]="isLoadingRouter ? 'visible' : 'hidden'"
          mode="indeterminate">
        </mat-progress-bar>
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>


